snippet com
    """
    ${1}
    """

snippet def
    def ${1}():

snippet imp
    import ${1}

snippet cls
    class ${1}:
        def __init__(self):
            pass

snippet main
    if __name__ == "__main__":
        ${1}

snippet @show
    print(f"{${1}=}")
