! Get current X settings `xrdb -query`.
! Update X settings from file `xrdb -merge ~/.Xresources`.

xterm*ScrollBar: true
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 9
xterm*geometry: 150x50
xterm*loginshell:       true
xterm*rightScrollBar:   true
xterm*savelines:        4096
xterm*scrollTtyOutput:  false

! Set Shift-Ctrl-C/V to Copy/Paste.
xterm*VT100.Translations: #override \
      Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
      Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
      Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
      Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)
